#gradient {
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(222, 231, 233, 0.7)); /* Webkit浏览器的背景线性渐变 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(222, 231, 233, 0.7)); /* Firefox浏览器的背景线性渐变 */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(222, 231, 233, 0.7)); /* Opera浏览器的背景线性渐变 */
	border: 1px rgba(0, 0, 0, 0.24) solid; /* 半透明边框 */
	border-radius: 3px; /* 边框圆角 */
	box-sizing: border-box; /* 盒子模型 */
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 7px;      /* 盒阴影 */
	width: 200px;
	height: 100px;
}
	
